a{
  font-size:20px;
}

h1.hero-title{
  font-size:80px;
  color:#000000;
}

h2{
  font-size:30px;
  color:#000000;
}

div.container{
  background-color:BLUE;
}

h3.text-center{
  color:#ffffff;
}

h1.text-center{
  color:#000000;
}

p{
  background-color:#6ba0b7;
  color:#000000;
  font-size:14pt;
}

html{
  background-color:#5d5e5f;
}

body{
  background-color:#444444;
}

h1.text-center{
  color:#ffffff;
}

div.jumbotron.hero-technology{
}

div.col-md-14{
  background-color:blue;
}

nav.navbar.navbar-default{
}

div.col-md-13{
  color:#0000000;
}

nav.navbar.navbar-default{
}

div.col-md-14{
  border-color:#1995dc;
  background-color:#2fa4e7;
}

div.col-md-12{
  background-color:#6ba0b7;
}

img{
  display:block;
  margin-right:auto;
  margin-left:auto;
  min-height:30px;
  max-width:370px;
  margin-left:px;
  margin-bottom:px;
  margin-left:x;
}

h3.text-center{
  color:#000000;
}

h1{
  color:#f5f2f2;
}

p{
}

h3.text-left{
  color:#000000;
}

p.text-muted{
  background-image:url('../img/1.jpg');
}

h4.text-left{
  color:#000000;
}

h3.text-center{
}

h3.text-center{
  background-color:#2fa4e7;
}

h3.text-center{
  border-color:#1995dc;
}

h4.text-center{
  color:#ebdfdf;
  border-color:#1995dc;
}

div.col-md-20{
  background-image:url('../img/adminlogin.jpg');
}

div.row{
  background-color:#6ba0b7;
}

body{
  background-image:url('../img/background1.jpg');
}

a{
  background-color:#efe9e9;
  color:#000000;
}

b{
}

a{
  background-color:#2fa4e7;
}

a{
  color:#ffffff;
}

a{
  border-color:#1995dc;
}

label.control-label{
  align-items:flex-end;
}

label.control-label{
  min-height:20px;
}

label.control-label{
  color:#000000;
}

.radio label.control-label{
  min-height:20px;
  padding-left:20px;
  margin-bottom:0;
  font-weight:normal;
  cursor:pointer;
}

label.control-label{
  display:inline-block;
  max-width:100px;
  margin-bottom:5px;
  font-weight:bold;
}

label.control-label{
  color:#000000;
}

label.control-label{
  color:#000000;
}

div.col-md-15{
  background-color:#ffffff;
}

label{
  text-align:right;
}

label{
  color:#000000;
}

div.col-md-8.col-md-offset-2{
  background-color:#ffffff;
}

input.form-control{
}

div.progress{
  background-image:url('../img/background1.jpg');
  max-height:50px;
}

div.col-md-20{
}

div.col-md-4{
}

div.col-md-6{
  background-image:url('../img/adminlogin.jpg');
}

a.btn.btn-default.btn-lg{
  margin-left:70px;
}

a.btn.btn-default.btn-lg{
  color:#000000;
  font-style:initial;
}

img.2{
  max-height:100px;
  max-width:3000px;
}

img{
}

div.alert.alert-success{
  background-image:url('../img/adminlogin.jpg');
}

a.blockquote{
  background-image:url('../img/adminlogin.jpg');
}

label{
  font-size:20PX;
  text-align:center;
}

label.control-label{
  font:initial;
}

label{
  font-style:initial;
}

button.btn.btn-default{
  color:#000000;
}

h4{
  color:#000000;
}

input.form-control{
}

time{
}

div.col-md-25{
}

img_24{
  width:400px;
}

img_a{
  width:3000px;
}

div.col-md-13{
  width:600px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

