
.min-height{
  min-height: 90vh;
}
a{
  font-size:20px;
}

h1.hero-title{
  font-size:80px;
  color:#000000;
}

h2{
  font-size:30px;
  color:#000000;
}

h3.text-center{
  color:#ffffff;
}

h1.text-center{
  color:#000000;
}

p{
  background-color:#6ba0b7;
  color:#000000;
  font-size:14pt;
}

html{
  background-color:#5d5e5f;
}

body{
  background-color:#444444;
}

h1.text-center{
  color:#ffffff;
}

div.jumbotron.hero-technology{
}

div.col-md-14{
  background-color:blue;
}

nav.navbar.navbar-default{
}

nav.navbar.navbar-default{
}

div.col-md-14{
  border-color:#1995dc;
  background-color:#2fa4e7;
}

div.col-md-12{
  background-color:#6ba0b7;
}

img{
  display:block;
  margin-right:auto;
  margin-left:auto;
  min-height:30px;
  max-width:370px;
}

h3.text-center{
  color:#000000;
}

h1{
  color:#f5f2f2;
}

.max-90{
  min-height: 90vh;
}

h3.text-left{
  color:#000000;
}

p.text-muted{
  background-image:url('../img/1.jpg');
}

h4.text-left{
  color:#000000;
}

h3.text-center{
  background-color:#2fa4e7;
}

h3.text-center{
  border-color:#1995dc;
}

h4.text-center{
  color:#ebdfdf;
  border-color:#1995dc;
}

div.col-md-20{
  background-image:url('../img/adminlogin.jpg');
}

.mani-image{
  background-image: url(../img/background1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


a{
  background-color:#efe9e9;
  color:#000000;
}

label.control-label{
  align-items:flex-end;
  min-height:20px;
  color:#000000;
}

.radio label.control-label{
  min-height:20px;
  padding-left:20px;
  margin-bottom:0;
  font-weight:normal;
  cursor:pointer;
}

div.col-md-15{
  background-color:#ffffff;
}

label{
  text-align:right;
  color:#000000;
}


div.progress{
  background-image:url('../img/background1.jpg');
  max-height:50px;
}

/*div.col-md-6{*/
/*  background-image:url('../img/adminlogin.jpg');*/
/*}*/

a.btn.btn-default.btn-lg{
  margin-left:70px;
  color:#000000;
  font-style:initial;
}


div.alert.alert-success{
  background-image:url('../img/adminlogin.jpg');
}

a.blockquote{
  background-image:url('../img/adminlogin.jpg');
}

label{
  font-size:20PX;
  text-align:center;
  font-style:initial;
 }

label.control-label{
  font:initial;
}

button.btn.btn-default{
  color:#000000;
}


.img_24{
  width:400px;
}

.img_a{
  width:3000px;
}

div.col-md-13{
  width:600px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.login-card {
  padding: 40px 40px;
  background-color: #F7F7F7;
  margin: 0 auto 25px;
  margin-top: 50px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgb(0 0 0);
}


.login-card .profile-img-card{
  width:96px;
  height:96px;
  margin:0 auto 10px;
  display:block;
  border-radius:50%;
}

.login-card .profile-name-card{
  font-size:16px;
  font-weight:bold;
  text-align:center;
  margin:10px 0 0;
  min-height:1em;
}

.login-card .reauth-email{
  display:block;
  color:#404040;
  line-height:2;
  margin-bottom:10px;
  font-size:14px;
  text-align:center;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  box-sizing:border-box;
}

.login-card .form-signin input[type=email], .login-card .form-signin input[type=password], .login-card .form-signin input[type=text], .login-card .form-signin button{
  height:44px;
  font-size:16px;
  width:100%;
  display:block;
  margin-bottom:10px;
  z-index:1;
  position:relative;
  box-sizing:border-box;
}

.login-card label{
  color:#000000;
}

.login-card .form-signin .form-control:focus{
  border-color:rgb(104, 145, 162);
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.login-card .btn.btn-signin{
  font-weight:700;
  height:36px;
  line-height:36px;
  font-size:14px;
  background:rgb(104, 145, 162);
  border-radius:3px;
  border:none;
  transition:all 0.218s;
  padding:0;
}

.login-card .btn.btn-signin:hover, .login-card .btn.btn-signin:active, .login-card .btn.btn-signin:focus{
  background:rgb(12, 97, 33);
}

.login-card .forgot-password{
  color:rgb(104, 145, 162);
}

.login-card .forgot-password:hover, .login-card .forgot-password:active, .login-card .forgot-password:focus{
  color:rgb(12, 97, 33);
}
